.chip {
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  color: #fff;
  background-image: linear-gradient(90deg, #7437c2, #2845f4);
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}
